#title {
    position: relative; ;
    height: 200px;
    margin: 10px 500px;
    
}
body {
    background-image: url(8x8FT-Salmon-Wall-Gold-Tufted-Leather-Headboard-Diamonds-Custom-Photography-Backdrop-Studio-Backgrounds-Vinyl-240cm-x.jpg);
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
p {
    
}